/* organizado por tipos e em ordem alfabética */

/* tags */

a:hover {
    cursor: pointer;
}
input[type="email"]::placeholder {
    color: #000;
    font-size: small;
}
input[type="email"]::-moz-placeholder {
    color: #000;
    font-size: small;
}
input[type="email"]::-webkit-input-placeholder {
    color: #000;
    font-size: small;
}
input[type="search"]::placeholder {
    color: #fff;
    font-size: x-small;
    border-color: #999!important;
}
input[type="search"]::-moz-placeholder {
    color: #fff;
    font-size: x-small;
    border-color: #999!important;
}
input[type="search"]::-webkit-input-placeholder {
    color: #fff;
    font-size: x-small;
    border-color: #999!important;
}

/* classes */
.banner {
    width: 395px;
    height: 220px;
    line-height: 220px;
}
.comprar {
    border: 1px solid!important;
    color: #009200!important;;
}
.container-fluid {
    overflow: hidden;
}
.font-lg {
    font-size: large;
}
.font-s {
    font-size: small;
}
.font-xlg {
    font-size: x-large;
}
.font-xs {
    font-size: x-small;
}
.footer-bg1{
    background: #e4e4e4;
}
.footer-bg2 {
    background: #333;
}
.footer-banner{
    background:#999;
}
.frete-gratis {
    background: #0082a7;
}
.img-fluid {
    width: 100vw
}
.nav-bg {
    background: #333;
}
.novo {
    background: #000;
}
.oferta {
    background: #de006f;
}
.preco {
    color: #f8595f;
}
.preco-antigo {
    color: #999;
}
.produto-img {
    width: 190px;
    height: 190px;
}
.search-border{
    border-bottom: 1px solid #999!important;
    border-top-width: 0px!important;
    border-right-width: 0px!important;
    border-left-width: 0px !important;
}
.social-logos {
    width: 25px;
    height: 25px;
}

/* ids */
#shopping-cart {
    color: #f8595f;
}