/* organizado por tipos e em ordem alfabética */

/* tags */

a:hover {
    cursor: pointer;
}
input[type="email"]::placeholder {
    color: #000;
    font-size: small;
}
input[type="email"]::-moz-placeholder {
    color: #000;
    font-size: small;
}
input[type="email"]::-webkit-input-placeholder {
    color: #000;
    font-size: small;
}
input[type="search"]::placeholder {
    color: #fff;
    font-size: 12px;
}
input[type="search"]::-moz-placeholder {
    color: #fff;
    font-size: 12px;
}
input[type="search"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 12px;
}
nav {
    background: #333;
    color: #fff;
    padding-left: 1px!important;
    padding-right: 1px!important;
}

/* classes */
.banner {
    width: 395px;
    height: 220px;
    line-height: 220px;
}
.comprar {
    border: 1px solid!important;
    color: #009200!important;;
}
.container-fluid {
    overflow: hidden;
}
.font-lg {
    font-size: 20px;
}
.font-s {
    font-size: 14px;
}
.font-xlg {
    font-size: 25px;
}
.font-xs {
    font-size: 12px;
}
.footer-bg1{
    background: #e4e4e4;
}
.footer-bg2 {
    background: #333;
}
.footer-banner{
    background:#999;
}
.frete-gratis {
    background: #0082a7;
}
.img-fluid {
    width: 100vw
}
.nav-link {
    padding-left: 0px!important;
    padding-right: 24px!important;
    color: #fff;
}
.navbar-brand {
    position: absolute!important;
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    margin-top: 6px;
    margin-left:10px;
}
.novo {
    background: #000;
}
.oferta {
    background: #de006f;
}
.preco {
    color: #f8595f;
}
.preco-antigo {
    color: #999;
}
.produto-img {
    width: 190px;
    height: 190px;
}
.social-logos {
    width: 25px;
    height: 25px;
}

/* ids */
#shopping-cart {
    color: #f8595f;
    margin-left: 72px;
    margin-bottom: 2px;
    margin-right: 3px;
}
#nav-line-2 {
    margin-top: 18px;
    width: 100%!important;
    display: flex;
    align-items: flex-end!important;
    justify-content: flex-end!important;
}
#search-input {
    border-bottom: 1px solid #999!important;
    width: 196px;
    margin-bottom: 3px;
    margin-right: 2px;
}